spring:
  application:
    name: libraryapi
  datasource:
    url: jdbc:postgresql://localhost:25432/library
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
#      ddl-auto: update
      ddl-auto: none